@import '_colors';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Poiret+One&amp;subset=latin-ext');

$header-font: 'Poiret One', sans-serif;
$body-font: 'Comfortaa', sans-serif;


/* These should be moved to main.scss */

h1 {
	color: $lighter;
	font-family: $header-font;
	font-size: 48px;
	margin-left: -2px;
	text-decoration: none;
}

h2 {
	color: $lighter;
	font-family: $header-font;
	font-size: 24px;
	margin-left: -1px;
	text-decoration: none;
}

h3 {
	color: $light;
	font-family: $body-font;
	font-size: 16px;
	margin: 10px 0px 20px 0px;
	text-decoration: none;
}

body {
	color: $default;
	font-family: $body-font;
	font-size: 20px;
	text-decoration: none;
}