@import 'colors';

body {
	background-color: $darker;
}

.banner {
	background-color: $default;
    box-shadow: 0px 2px 10px black;
}

.button {
	background-color: $dark;
	color: $lighter;
	text-align: center;

}