@import 'corpora/static/corpora/css/colors';

ul, ul.a {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.p-text-block {
	padding-top: 15px;
}

form {
	text-align: left;
}

.errorlist {
	font-size: smaller;
}

button, input[type="submit"] {
	background-color: $dark;
	color: $lighter;
	text-align: center;
	text-decoration: none;
	border: none;
	padding: 3px 0px 3px 0px;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	transition: all 0.1s ease-in-out;
	outline: none;
	width: 100%;
}

button[type="submit"]:hover, input[type="submit"]:hover {
	text-decoration: none;
	transform: scale(1.05, 1.05);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	outline: none;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: $dark;
	border: 1px solid $darker;
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin-left: 3px;
}

input[type="checkbox"]:focus {
	outline: 0;
}

input[type="checkbox"]:checked {
	background-color: $dark;
	border: 1px solid $darker;
	color: $darker;
}

input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: $lighter;
}

label[for=id_remember] {
	font-size: smaller;
}

label[for=id_login], label[for=id_password] {
	display: none;
}