{% extends "corpora/base.html" %}
{% load account %}
{% load i18n %}
{% load socialaccount %}
{% load sekizai_tags %}
{% load static %}
{% load language %}

{% block navbuttons %}


{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}">
{% endaddtoblock %}

    <div class="btn-group btn-group-sm" role="group">

        <a href="{% url 'people:profile' %}" class="btn btn-default btn-sm "><i class="fa fa-lg fa-fw fa-user"></i><div class=" hidden-xs">{% trans 'Profile' %}</div></a>
        <a href="{% url 'corpus:record' %}" class="btn btn-default btn-sm "><i class="fa fa-lg fa-fw fa-microphone"></i><div class=" hidden-xs">{% trans 'Record' %}</div></a>

        {% get_current_language request as current_language %}
        {% get_known_languages request as known_languages %}
        {% if known_languages %}
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-lg fa-language"></i>
            <div class=" hidden-xs">

            {% get_language_info for current_language as lang %}
            {% trans 'Language' %} <span class="caret"></span>
            </div>
          </button>
          <ul class="dropdown-menu">
            {% comment %}Instead we'll want to get the KnownLanguages for the Person {% endcomment %}
            {% get_language_info_list for known_languages as languages %}
            {% for lang in languages %}
                <li><a href="#" onclick="$('form[id=language_selector_form] input[name=language]').val('{{lang.code}}');$('form[id=language_selector_form]').submit();">
                {% if lang.code == current_language %}<i class="fa fa-fw fa-check"></i>{% endif %}
                {{ lang.name_translated }}</a></li>
            {% endfor %}
            <li><a href="{% url 'people:choose_language' %}?next=people:profile">Add Language</a></li>
          </ul>
        </div>
        {% endif %}

        {% if request.user.is_authenticated %}

            <button type="button" class="btn btn-default btn-sm ">
                <i class="fa fa-fw fa-lg fa-edit"></i>
                <div class=" hidden-xs">{% trans 'Edit Info' %}</div>
            </button>

            {% if request.user.is_staff %}
            <a href="/admin" class="btn btn-default btn-sm "><i class="fa fa-lg fa-fw fa-cogs"></i><div class=" hidden-xs">{% trans 'Admin' %}</div></a>
            {% endif %}
            
            <button type="submit" class="btn btn-default btn-sm" onclick="$('form[id=logout]').submit();">
                <i class="fa fa-fw fa-lg fa-sign-out"></i>
                <div class=" hidden-xs">{% trans 'Log Out' %}</div>
            </button>
        
        {% endif %}
    </div>

    <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;" id="logout">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
    </form>
    <form class="hidden" action="{% url 'people:set_language' %}" method="post" id="language_selector_form">{% csrf_token %}
        
        <input name="language" type="hidden" value="{{current_language}}" />
    </form>

{% addtoblock "js" %}
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
{% endaddtoblock %}

{% endblock %}