{% extends "people/base.html" %}
{% load account %}
{% load i18n %}
{% load account %}
{% load socialaccount %}


{% block navbuttons %}
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
  	{% trans 'Log Out' %}
  	</button>
</form>
{% endif %}

{% endblock %}

{% block content %}

{% user_display user as user_display %}
{% blocktrans %}{{ user_display }} has logged in...{% endblocktrans %}


{% get_social_accounts user as accounts %}

{% if request.user.is_authenticated %}
  
   {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
 
{% else %}
    <a href="/account/login/" class="pull-right">Login</a>
{% endif %}


<div>
<a href="/record">
START RECORDING
</a>
</div>

{% endblock %}